---
---

@import "{{ site.theme }}";

h1.title {
    font-size: 48px !important
}

summary {
    display: revert !important;
}

.publications {
    padding-left: 0 !important;
    margin-top: 10px !important;
}
.publications li {
    list-style-type: none;
}
